/* Base reset and typography */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
               "Liberation Mono", monospace;
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.3;
  font-weight: 600;
}

ul {
  padding-left: 1.2rem;
}

a {
  text-decoration: none;
}

